pandas
numpy
scikit-learn
matplotlib
seaborn
mlflow
fastapi
uvicorn
pydantic
python-dotenv
pytest
joblib
pytest
great-expectations==0.16.14
statsmodels
lightgbm
xgboost
catboost
optuna
posthog
pyspark==3.5.1
pydantic==1.10.14 
sqlalchemy==1.4.52
gradio
